<div data-ajax-modal="container">
  <div class="modal-header">
    <button type="button" class="ajax-modal-close close" data-dismiss="modal" aria-hidden="true">×</button>
    <h1 class="modal-title"><%= t('help.map') %></h1>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <ul class="advanced-help">
          <li>Each numbered circle represents a cluster of locations that are in close proximity</li>
          <li>Hovering over the circle may outline a clustered area in blue - if no outline is displayed, clicking on it will pop up information about that location with  a link to related items</li>
          <li>The + and - buttons or clicking on a cluster circle will zoom in the map
          <li>The “Show Items in This Area” button will show you all of the items within the boundaries of the map at the current zoom level</li>
        </ul>
      </div>
    </div>
  </div>
</div>