<section aria-labelledby="dlg-and-me-heading">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 id="dlg-and-me-heading">DLG and Me</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 blog-post">
        <div class="row">
          <div class="col-md-6">
            <img src="<%= asset_path 'laurens-schools.jpg' %>" alt="DLG and Me Story Image for Laurens County Teacher's Monthly Reports" class="img-responsive">
            <h3><a href="https://blog.dlg.galileo.usg.edu/?p=7266">Community Engagement with Laurens County Teacher's Monthly Reports</a></h3>
            Cristina Hernández Trotter, Head of Reference and The Heritage Center, Oconee Regional Library System, describes how digitizing teacher monthly reports from Laurens County’s African American schools allowed the library system to better connect with its community.
          </div>
          <div class="col-md-6">
            <img src="<%= asset_path 'roswell-digitization.jpg' %>" alt="DLG and Me Story Image for Roswell Community Digitization" class="img-responsive">
            <h3><a href="https://blog.dlg.galileo.usg.edu/?p=7244">Roswell Community Digitization Event a Success</a></h3>
            Elaine DeNiro, archivist of the Roswell Historical Society and City of Roswell Research Library and Archives, describes the support DLG provided the historical society that ensured a successful community digitization event.
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <img src="<%= asset_path 'subgrant.jpg' %>" alt="DLG and Me Story Image for DLG Subgranting program" class="img-responsive">
            <h3><a href="https://blog.dlg.galileo.usg.edu/?p=7166">New Subgrant Deadline of April 12 Announced</a></h3>
            DLG offers up to $7500 of digitization services to new and current partners.
          </div>
          <div class="col-md-6">
            <img src="<%= asset_path 'edu_resources.jpg' %>" alt="DLG and Me Story Image for DLG Educator Resources" class="img-responsive">
            <h3><a href="http://blog.dlg.galileo.usg.edu/?p=7063">New Educator Resources Available</a></h3>
            The DLG has just launched a series of new resources for K-12 educators and students, based upon the Georgia 8th Grade Social Studies Standards of Excellence (GSE).
          </div>
<!--          <div class="col-md-6">-->
<!--            <img src="<%#= asset_path 'spelman.jpg' %>" alt="DLG and Me Story Image for Spelman College" class="img-responsive">-->
<!--            <h3><a href="http://blog.dlg.galileo.usg.edu/?p=7033">Preserving and Sharing Spelman Archival Treasures</a></h3>-->
<!--            Holly Smith, archivist of Spelman College, details the impact of partnering with DLG and the Atlanta University Center Robert W. Woodruff Library Archives Research Center on the CLIR-funded "Our Story" project.-->
<!--          </div>-->
          <!--            <div class="col-md-6">-->
          <!--              <img src="<%#= asset_path 'wsbn.jpg' %>" alt="DLG and Me Story Image for Brown Media Archives" class="img-responsive">-->
          <!--              <h3><a href="http://blog.dlg.galileo.usg.edu/?p=6960">Digitizing and Describing Moving Image Content Reaches New Users</a></h3>-->
          <!--              Ruta Abolins, director of the Brown Media Archives at UGA, discusses how digitization opens up content to new audiences.-->
          <!--            </div>-->
          <!--            <div class="col-md-6">-->
          <!--              <img src="<%#= asset_path 'hhj.jpg' %>" alt="DLG and Me Story Image for Houston Home Journal" class="img-responsive">-->
          <!--              <h3><a href="https://blog.dlg.galileo.usg.edu/?p=6925">Tombstone Mystery Solved and Family Keepsake Revived</a></h3>-->
          <!--              Judith Malone, Perry Branch Manager of the Houston County Public-->
          <!--              Library, describes value of digitizing their local newspaper.-->
          <!--            </div>-->
          <!--            <div class="col-md-6">-->
          <!--              <img src="<%#= asset_path 'ahc.jpg' %>" alt="DLG and Me Story Image for Atlanta History Center article" class="img-responsive">-->
          <!--              <h3><a href="https://blog.dlg.galileo.usg.edu/?p=6945">A Fruitful Partnership for More Than A Decade</a></h3>-->
          <!--              Paul Crater, vice President of Collections and Research Services-->
          <!--              at the Atlanta History Center, describes how the immeasurable ways-->
          <!--              the reach of their collections have been expanded through-->
          <!--              partnering with the DLG.-->
          <!--            </div>-->
        </div>
      </div>
      <div class="col-md-4">
        <a class="twitter-timeline"
           href="https://twitter.com/DigLibGA?ref_src=twsrc%5Etfw"
           data-tweet-limit="3"
           data-link-color="#93450E">
          Tweets by DigLibGA
        </a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>
  </div>
</section>