<section aria-labelledby="dlg-and-me-heading">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 id="dlg-and-me-heading">DLG and Me</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 blog-post">
        <div class="row">
          <%= render 'dlg_and_me_entry',
                     image: 'santa_eats_here.png',
                     title: 'Even Santa Claus Eats Here: The Southern Israelite and the Marketing of Chinese Food',
                     blog_id: 7436,
                     text: 'Joshua Kitchens, director of the archival studies program at Clayton State University, describes how he has used the Georgia Historic Newspapers website to research Atlanta foodways.'
          %>
          <%= render 'dlg_and_me_entry',
                image: 'g_jones.png',
                title: 'A Teacher\'s Appreciation of DLG Educator Resources',
                blog_id: 7399,
                text: 'Becky Brown, a seventh and eighth-grade social studies teacher, expresses her appreciation for the DLG\'s educator resources.'
          %>
        </div>
        <div class="row">
          <%= render 'dlg_and_me_entry',
                     image: 'johnny_mize.jpg',
                     title: 'A Successful Partnership with Piedmont College Library',
                     blog_id: 7374,
                     text: 'Bob Glass, Dean of Libraries & College Librarian, Piedmont College, describes several new Piedmont College collections made available thanks to a Competitive Digitization Grant from the DLG.'
          %>
          <%= render 'dlg_and_me_entry',
                     image: 'old_ga_homes.jpg',
                     title: 'DLG Helps Bring Old Houses to Life',
                     blog_id: 7334,
                     text: 'Lane Fuller, author of the blog Old Georgia Homes, describes how he uses DLG resources to enliven his blog posts about historical Georgia homes.'
          %>
        </div>
      </div>
      <div class="col-md-4">
        <a class="twitter-timeline"
           href="https://twitter.com/DigLibGA?ref_src=twsrc%5Etfw"
           data-tweet-limit="3"
           data-link-color="#93450E">
          Tweets by DigLibGA
        </a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>
  </div>
</section>