<section id="alert" aria-label="Downtime notice">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-warning" role="alert">
          The Digital Library of Georgia site may be unavailable on __DATE__ due to <%= link_to 'network maintenance', 'http://status.uga.edu/#/incidents/__STATUSID__' %>.
        </div>
      </div>
    </div>
  </div>
</section>