<div class="col-md-6">
  <h3><%= t('external_links.labels.ghnp') %></h3>
  <p>
    Georgia's print media history began in 1763 with the establishment of the
    state's first newspaper, the <i>Savannah Gazette</i>. Considered history's "rough
    draft," newspaper journalism has wide ranging impact. Beyond a reporting of
    facts, newspapers reflect the social and cultural values of the time in
    which they were compiled and as such, are invaluable to scholars and the
    general public alike. These publications document not only cities and
    counties throughout the state, but also record the activities of the state's
    various ethnic, religious, and educational groups.
  </p>
  <p>
    The Georgia Historic Newspapers portal provides free, full-text searchable
    access to over 1 million pages of Georgia newspaper content dating from 1763
    to 1968. Newspaper titles are regularly digitized and added to the archive.
  </p>
  <p>
    The Georgia Historic Newspapers database is a project of the Digital Library
    of Georgia as part of Georgia HomePlace. The project is supported with
    federal LSTA funds administered by the Institute of Museum and Library
    Services through the Georgia Public Library Service, a unit of the Board of
    Regents of the University System of Georgia. Additional support has been
    made available by the R.J. Taylor Foundation, Flint Energies, and a number
    of other local foundations and public libraries.
  </p>
  <p>
    <strong>
      Visit the <a href="<%= t('external_links.dlg.ghnp') %>" target="_blank"><%= t('external_links.labels.ghnp') %></a>
    </strong>
  </p>
</div>
<div class="col-md-6 col-lg-6 right-col">
  <%= image_tag asset_path('ghnp.png'), class: 'img-responsive' %>
</div>