<section id="teach">
  <div class="container">
    <h2>Using DLG Materials</h2>
    <h3>Educational and Scholarly Use</h3>
    <p>The digital reproductions included in the Digital Library of Georgia have been made available for use in research, teaching (including distribution to classes), and private study. For these purposes you may reproduce (print, make photocopies, or download) materials from this web site without prior permission. Please provide proper attribution of the source in all copies.</p>
    <h3>Permission to Publish</h3>
    <p>Reproduction of DLG materials for publication, broadcast, or commercial use requires written permission of the institution holding the physical item from which the digital version is derived, and is subject to terms and fees imposed by the holding institution. The Digital Library of Georgia should be credited in the publication, broadcast, or other work.</p>
    <h3>Obtaining Copies</h3>
    <p>To acquire print, photographic, or higher quality digital copies of DLG materials, contact the institution holding the physical item from which the digital version is derived.</p>
    <h3>Citing Sources</h3>
    <p>
      Because the materials in the Digital Library of Georgia come from a number of repositories within the state of Georgia, please use the following form for citation:
    <div class="well">
      [title of item when available], [name of collection], [name of repository], presented in the Digital Library of Georgia
    </div>
    </p>
    <p>Examples:</p>
    <div class="well">
      Men Picking Cotton, Robert E. Williams Photographs, 1872-1898, Hargrett Rare Book and Manuscript Library, presented in the Digital Library of Georgia
    </div>
    <div class="well">
      Cornelius C. Platter Civil War Diary, 1864 - 1865, Hargrett Rare Book and Manuscript Library, presented in the Digital Library of Georgia
    </div>
    <h3>Linking to DLG Resources</h3>
    <p>The materials and pages included in the Digital Library of Georgia may be linked to freely from other Web pages and Internet resources.</p>
  </div>
</section>

