<div class="row">
  <div class="col-md-12">
    <%= link_to t('feedback.feature_feedback_button.label'), t('external_links.contact'), class: 'btn btn-default', target: '_blank', title: t('feedback.feature_feedback_button.popup_text'), data: { toggle: 'tooltip', placement: 'left' } %>
  </div>
</div>