<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-3 pull-left">
        <ul class="footer-nav">
          <li><a href="">Home</a></li>
          <li><a href="">About</a></li>
          <li><a href="">Digital Public Library of America</a></li>
          <li><a href="">Georgia Historic Newspapers</a></li>
          <li><a href="">Civil Rights Digital Library</a></li>
          <li><a href="">Civil War in the American South</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-6 ">
        <p class="text-center">The Digital Library of Georgia is part of the GALILEO Initiative<br>
          &copy; 2018 Digital Library of Georgia</p>
      </div>
      <div class="col-xs-12 col-sm-3 pull-right">
        <ul class="social-icons">
          <li><a href=""><i class="fa fa-facebook-official fa-3x" aria-hidden="true"></i></a></li>
          <li><a href=""><i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i></a></li>
          <li><a href=""><i class="fa fa-rss-square fa-3x" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>