<div class="top-banner">
  <div class="container">
    <div class="row">
      The DLG may be unavailable on Saturday, March 9th due to
      <a href="https://status.uga.edu/#/incidents/8494098">network maintenance</a>.
<!--      <a href="<%#= t('external_links.contact') %>">Need some help?</a>-->
    </div>
  </div>
</div>