<section id="collection_resource" class="">
  <div class="container">
    <h2><%= @resource.title %></h2>
    <div class="resource-content">
      <%= @resource.content %>
    </div>
  </div>
</section>
