<section id="error">
  <div class="container">
    <h2 class="text-center">Error 400 - File Not Found</h2>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        Oh no! You're looking for something that doesn't exist. Our staff have been notified of this incident. Maybe you'd like to try a <%= link_to 'new search', search_path %> or go to the <%= link_to 'homepage', root_path %>?
      </div>
    </div>
  </div>
</section>

