<% # container for facet groups -%>
<div id="facets" class="facets sidenav">
  <button type="button" class="facets-toggle" data-toggle="collapse" data-target="#facet-panel-collapse">
    <span class="sr-only">Toggle facets</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <div id="facet-panel-collapse" class="collapse">
    <% if facet_group_names.any? %>
      <% facet_group_names.each do |groupname| %>
          <%= render partial: 'facet_group', locals: { groupname: groupname } %>
      <% end %>
    <% else %>
      <%= render partial: 'facet_group', locals: { groupname: '' } %>
    <% end %>
  </div>
</div>
