<div id="text" class="tab-pane fade" role="tabpanel" aria-labelledby="text-tab">
  <%# render fulltext %>
  <div class="panel panel-default">
    <div class="panel-body">
      <%= simple_format document.fulltext %>
    </div>
  </div>
</div>
