<section id="about">
  <div class="container">
    <h2>Mission</h2>
    <p>The Digital Library of Georgia is a GALILEO initiative based at the University of Georgia Libraries that collaborates with Georgia's Libraries, archives, museums, and other institutions of education and culture to provide access to key information resources on Georgia history, culture, and life. This primary mission is accomplished through the ongoing development, maintenance, and preservation of digital collections and online digital library resources. The Digital Library of Georgia also provides digital library and micrographic services, and supports the instruction, research, and service missions of GALILEO and the University System of Georgia through collaboration with university faculty, students, and staff, and through participation on local and national levels in the development of digital library standards, practice, and technology. The Digital Library facilitates cooperative ventures with other organizations and provides leadership for cooperative digital initiatives throughout the state.</p>
    <p>The Digital Library of Georgia at the University of Georgia Libraries has two functional units:</p>
    <h3>Digital Library of Georgia Production Center</h3>
    <p>The Digital Library of Georgia Production Center supports the mission and goals of the Digital Library of Georgia by developing, maintaining, and preserving collections of digital content in collaboration with staff from partner institutions, University of Georgia Libraries, and GALILEO. Its work includes imaging, metadata, text encoding, and digital curation.</p>
    <h3>Micrographic Services/Georgia Newspaper Project</h3>
    <p>Micrographic Services supports the mission of the Digital Library of Georgia and the University Libraries by preserving collections of materials related to the history and culture of Georgia for ongoing access through the Georgia Newspaper Project, part of the United States Newspaper Program. The Georgia Newspaper Project films 200 current newspapers on an ongoing basis, and it provides microfilm to libraries, organizations, and individuals across the state. In operation since 1953, the Georgia Newspaper Project has filmed Georgia newspapers dating from the 18th century to the present, and from every county in Georgia that publishes a newspaper.</p>
    <h2>Guiding Principles</h2>
    <ul>
      <li><span class="italicized">Usability and accessibility.</span> Build highly usable and accessible collections to make resources available to as wide a range of researchers, scholars, students, and the general public as possible.</li>
      <li><span class="italicized">Standards and best practices.</span> Make use of standards, best practices, and open systems whenever possible to ensure longevity of and ongoing access to digital, photographic, and micrographic resources. Contribute to development of these standards and best practices by participation and collaboration with other digital library projects.</li>
      <li><span class="italicized">Added value.</span> Provide not only digital facsimiles of historical and cultural materials, but strive to include rich background, contextual information, description, and metadata to promote deeper analysis and greater understanding of the collections and materials. Likewise, develop and implement digital library tools and services to promote enhanced interpretation, context, and understanding.</li>
      <li><span class="italicized">Copyright.</span> Respect the rights of copyright owners and partner repositories by observing current laws and regulations regarding copyright and fair use while advocating for open access to historic content.</li>
      <li><span class="italicized">Digital preservation.</span> Maintain and promote awareness and understanding of preservation of digital collections and take steps throughout the life cycle of digital materials to ensure ongoing access and usability.</li>
      <li><span class="italicized">Appropriate use of technology.</span> Implementation of new technology will follow the mission and goals of the Digital Library, rather than technology for its own sake. The Digital Library will maintain awareness of digital library and technological developments.</li>
    </ul>
    <h2>Goals</h2>
    <ul>
      <li>Build a sustainable and scalable digital library infrastructure.</li>
      <li>Build comprehensive digital collections that reflect the full wealth of Georgia's history and culture and ensure fair representation of traditionally under-represented groups.</li>
      <li>Preserve library collections, including sensitive cultural and historical resources through appropriate means such as photographic and micrographic reproduction.</li>
      <li>Facilitate and cooperate in cooperative ventures with other organizations to build digital collections, resources, and services.</li>
      <li>Contribute to the development of standards and best practices by participation at multiple levels including local, national, and international.</li>
      <li>Promote learning by providing interpretive and curricular materials to facilitate the use of digital collections at multiple levels of education.</li>
    </ul>
  </div>
</section>

