<section id="about">
  <div class="container">
    <h2>DLG Partners and Sponsors</h2>
    <h3>Project Sponsors</h3>
    <p>
      The following organizations have provided financial support to the Digital
      Library of Georgia and GALILEO for conversion projects:
    </p>
    <ul>
      <li><a href="https://www.galileo.usg.edu">GALILEO, Georgia's Virtual Library, an initiative of the University System of Georgia</a></li>
      <li><a href="http://www.georgialibraries.org">Georgia Public Library Service (Board of Regents, University System of Georgia)</a></li>
      <li><a href="http://gaarts.org/">Georgia Council for the Arts</a></li>
      <li><a href="http://www.georgiahumanities.org">Georgia Humanities Council</a></li>
      <li><a href="https://www.libs.uga.edu">University of Georgia Libraries</a></li>
      <li><a href="https://www.clir.org/">The Council on Library and Information Resources</a></li>
      <li><a href="https://dp.la">Digital Public Library of America</a></li>
      <li><a href="http://www.imls.gov">Institute for Museum and Library Services</a></li>
      <li><a href="https://knightfoundation.org/">Knight Foundation</a></li>
      <li><a href="http://www.neh.gov">National Endowment for the Humanities</a></li>
      <li><a href="http://www.archives.gov/nhprc/">National Historical Publications and Records Commission</a></li>
      <li>Alice L. Gilbert Foundation</li>
      <li><a href="https://www.flintenergies.com/flint-energies-foundation">Flint Energies Foundation</a></li>
      <li>Frances Wood Wilson Foundation, Inc.</li>
      <li><a href="http://taylorfoundation.org/">R.J. Taylor Foundation</a></li>
      <li>Srochi family of Atlanta</li>
      <li>Taylor County Historical-Genealogical Society</li>
    </ul>

    <h3>Project Partners</h3>
    <p>
      The following institutions or organizations have collaborated with the DLG
      and GALILEO to digitize and provide online access to cultural heritage
      collections:
    </p>
    <ul>
      <li><a href="http://www.law.uga.edu/law-library">Alexander Campbell King Law
        Library (University of Georgia, Athens)</a></li>
      <li><a href="https://www.westga.edu/library/special-collections/index.php">Annie
        Belle Weaver Special Collections (University of West Georgia,
        Carrollton)</a></li>
      <li><a href="http://www.athenslibrary.org/athens/departments/heritage">Athens-Clarke
        County Library</a></li>
      <li><a href="http://www.atlantahistorycenter.com/">Atlanta History
        Center</a></li>
      <li><a href="http://www.afpls.org/">Atlanta-Fulton Public Library</a></li>
      <li><a href="http://www.afpls.org/aarl">Auburn Avenue Research Library on
        African-American Culture and History (Atlanta-Fulton Public Library
        System)</a></li>
      <li><a href="http://arcpls.org/">Augusta-Richmond County Public Library
        System</a></li>
      <li><a href="http://www.bartowlibraryonline.org/">Bartow County Library
        System</a></li>
      <li><a href="http://www.berry.edu/library/">Berry College Library</a></li>
      <li>
        <a href="http://threeriverslibraries.org/wordpress-dev/library-locations/brantley-county-public-library/">Brantley
          County Library (Three Rivers Regional Library System, Nahunta)</a>
      </li>
      <li><a href="http://moglibraries.org/heritage-room/">Brunswick-Glynn County
        Library Heritage Room (Marshes of Glynn Libraries)</a></li>
      <li><a href="http://ngrl.org/calhoun/">Calhoun-Gordon County Library
        (Northwest Georgia Regional Library System, Calhoun)</a></li>
      <li><a href="http://www.cvlga.org/">Chattahoochee Valley Libraries</a>
      </li>
      <li><a href="http://www.chrl.org/">Cherokee Regional Library</a></li>
      <li>
        <a href="www.chestateelibrary.org">Chestatee Regional Library System</a>
      </li>
      <li>
        <a href="https://clarkesvillelibrary.org/">Clarkesville-Habersham Library
          (Northeast Georgia Regional Library System)</a></li>
      <li>
        <a href="http://www.cobbcat.org/">Cobb County Public Library System</a>
      </li>
      <li><a href="https://gchrl.org/branches/columbia-county-library/">Columbia
        County Library (Greater Clarks Hill Regional Library System, Evans)</a>
      </li>
      <li><a href="http://www.ctsnet.edu/library/">Columbia Theological
        Seminary</a></li>
      <li><a href="https://archives.columbusstate.edu/">Columbus State University
        Archives</a></li>
      <li><a href="http://www.desototrail.org/">DeSoto Trail Regional Library
        System</a></li>
      <li><a href="http://www.elbertlibrary.org/">Elbert County Library</a></li>
      <li><a href="https://www.foxfire.org/visit-us/">Foxfire Museum & Heritage
        Center (Mountain City)</a></li>
      <li>
        <a href="https://www.georgiaarchives.org/">Georgia Archives (Morrow)</a>
      </li>
      <li><a href="http://gaarts.org/">Georgia Council for the Arts</a></li>
      <li><a href="https://georgiaemc.com/">Georgia Electric Membership
        Corporation</a></li>
      <li><a href="http://georgiahistory.com/">Georgia Historical Society
        (Savannah)</a></li>
      <li><a href="https://www.libs.uga.edu/gnp">Georgia Newspaper Project
        (Athens)</a></li>
      <li>
        <a href="http://library.gsu.edu/search-collections/special-collections-archives/">Georgia
          State University Libraries Special Collections (Atlanta)</a></li>
      <li><a href="https://www.facebook.com/gainesvillehallcountyblackhistory/">Hall
        County Black History Society (Gainesville)</a></li>
      <li><a href="http://www.hallcountylibrary.org/">Hall County Library System
        (Gainesville)</a></li>
      <li><a href="http://www.libs.uga.edu/hargrett/">Hargrett Library (University
        of Georgia, Athens)</a></li>
      <li><a href="http://houpl.org/">Houston County Public Library System
        (Perry)</a></li>
      <li><a href="https://www.jimmycarterlibrary.gov/">Jimmy Carter Library
        (Atlanta)</a></li>
      <li><a href="http://archives.kennesaw.edu/">Kennesaw State University
        Department of Archives, Rare Books and Records Management</a></li>
      <li><a href="http://www.chrl.org/lafayette-walker-county-public-library/">LaFayette-Walker
        County Public Library (Cherokee Regional Library System)</a></li>
      <li><a href="https://www.lbrls.org/">Lake Blackshear Regional Library
        (Americus)</a></li>
      <li><a href="http://www.liveoakpl.org/">Live Oak Public Libraries</a></li>
      <li><a href="https://mvhs2.weebly.com/">Marble Valley Historical Society
        (Jasper, Ga.)</a></li>
      <li><a href="http://www.mcduffiemuseum.com/">McDuffie Museum (Thomson)</a>
      </li>
      <li>
        <a href="http://mgaarchives.bibblib.org/">Middle Georgia Archives (Middle
          Georgia Regional Library)</a></li>
      <li><a href="http://www.morehouse.edu/">Morehouse College (Atlanta)</a>
      </li>
      <li><a href="http://www.mountainregionallibrary.org/">Mountain Regional
        Library System (Young Harris)</a></li>
      <li><a href="https://www.georgiaencyclopedia.org/">New Georgia Encyclopedia
        (Project)</a></li>
      <li>
        <a href="http://www.newtonlibrary.org/">Newton County Library System</a>
      </li>
      <li><a href="http://www.negeorgialibraries.org/">Northeast Georgia Regional
        Library System</a></li>
      <li><a href="http://library.oglethorpe.edu/archives/">Oglethorpe University
        Archives (Atlanta)</a></li>
      <li><a href="http://okrls.org/">Okefenokee Regional Library System</a>
      </li>
      <li><a href="https://www.libs.uga.edu/locations/owens">Owens Library
        (University of Georgia College of Environment and Design)</a></li>
      <li>
        <a href="http://www.peach.public.lib.ga.us/">Peach Public Libraries</a>
      </li>
      <li><a href="http://prlib.org/">Piedmont Regional Library System</a></li>
      <li><a href="http://www.pinemtnlibrary.org/">Pine Mountain Regional Library
        (Manchester)</a></li>
      <li>
        <a href="http://www.libs.uga.edu/russell/">Richard B. Russell Library for
          Political Research and Studies (University of Georgia)</a></li>
      <li><a href="https://www.auctr.edu/">Robert W. Woodruff Library (Atlanta
        University Center)</a></li>
      <li><a href="http://rmlibrary.org/">Roddenbery Memorial Library</a></li>
      <li><a href="https://diosav.org/archives">Roman Catholic Diocese of Savannah
        Archives</a></li>
      <li>
        <a href="https://gvs.georgia.gov/roosevelt-warm-springs-0">Roosevelt Warm
          Springs Vocational Rehabilitation Campus</a></li>
      <li>
        <a href="http://www.savannahga.gov/475/Research-Library-Municipal-Archives">City
          of Savannah Research Library and Municipal Archives</a></li>
      <li>
        <a href="http://sjrls.weebly.com/">Screven-Jenkins Regional Library System
          (Sylvania)</a></li>
      <li><a href="http://library.ci.smyrna.ga.us/#section=home">Smyrna Public
        Library</a></li>
      <li><a href="http://www.swgrl.org/">Southwest Georgia Regional Library
        (Bainbridge)</a></li>
      <li><a href="https://www.spelman.edu/about-us/archives">Spelman College
        (Atlanta)</a></li>
      <li><a href="http://tcpls.org/">Thomas County Public Library System
        (Thomasville, Ga.)</a></li>
      <li><a href="https://www.trouparchives.org/">Troup County Archives</a>
      </li>
      <li><a href="http://www.tubmanmuseum.com/">Tubman African-American Museum
        (Macon)</a></li>
      <li>
        <a href="http://www.libs.uga.edu/">University of Georgia. Libraries</a>
      </li>
      <li><a href="http://www.libs.uga.edu/magil/">University of Georgia. Map and
        Government Information Library</a></li>
      <li><a href="http://www.ugapress.org/">University of Georgia Press</a>
      </li>
      <li>
        <a href="https://www.valdosta.edu/academics/library/depts/archives-and-special-collections/">Valdosta
          State University's Odum Library's Archives and Special Collections</a>
      </li>
      <li><a href="http://www.libs.uga.edu/media/index.html">Walter J. Brown Media
        Archives and Peabody Awards Collection</a></li>
      <li>
        <a href="https://www.thebreman.org/">William Breman Jewish Heritage Museum
          (Atlanta)</a></li>
      <li><a href="https://crew.uga.edu/">Wormsloe Institute for Environmental
        History</a></li>
    </ul>

    <h3>Content Partners</h3>
    <p>
      The following institutions or organizations have created digital
      collections
      independently that are available through the Georgia portal:
    </p>
    <ul>
      <li><a href="http://www.law.uga.edu/law-library">Alexander Campbell King Law
        Library (University of Georgia, Athens)</a></li>
      <li><a href="https://www.westga.edu/library/special-collections/index.php">Annie
        Belle Weaver Special Collections (University of West Georgia,
        Carrollton)</a></li>
      <li><a href="https://library.savannahstate.edu/">Asa H. Gordon Library
        (Savannah State University)</a></li>
      <li><a href="http://www.athenslibrary.org/athens/departments/heritage">Athens-Clarke
        County Library</a></li>
      <li>
        <a href="http://www.atlantahistorycenter.com/">Atlanta History Center</a>
      </li>
      <li><a href="http://www.berry.edu/library/">Berry College Library</a></li>
      <li><a href="www.chestateelibrary.org">Chestatee Regional Library System</a>
      </li>
      <li>
        <a href="http://www.savannahga.gov/475/Research-Library-Municipal-Archives">City
          of Savannah Research Library and Municipal Archives</a></li>
      <li><a href="https://www.ccga.edu/">College of Coastal Georgia. Library</a>
      </li>
      <li>
        <a href="http://www.ctsnet.edu/library/">Columbia Theological Seminary</a>
      </li>
      <li><a href="http://www.columbusmuseum.com/">Columbus Museum</a></li>
      <li><a href="https://archives.columbusstate.edu/">Columbus State University
        Archives</a></li>
      <li><a href="https://www.daltonstate.edu/library/about-roberts-library.cms">Dalton
        State College</a></li>
      <li><a href="https://www.georgiaarchives.org/">Georgia Archives (Morrow)</a>
      </li>
      <li><a href="http://www.libs.uga.edu/capitolmuseum/">Georgia Capitol Museum
        (Atlanta)</a></li>
      <li>
        <a href="http://libguides.gcsu.edu/sc">Georgia College & State University
          Special Collections</a></li>
      <li><a href="http://www.ggc.edu/academics/library/">Georgia Gwinnett
        College</a></li>
      <li><a href="http://georgiahistory.com/">Georgia Historical Society
        (Savannah)</a></li>
      <li><a href="http://www.library.gatech.edu/archives/">Georgia Institute of
        Technology Archives and Records Management</a></li>
      <li><a href="http://gmcga.libguides.com/home">Georgia Military College</a>
      </li>
      <li>
        <a href="http://library.gsu.edu/search-collections/special-collections-archives/">Georgia
          State University Libraries Special Collections (Atlanta)</a></li>
      <li><a href="http://www.libs.uga.edu/hargrett/">Hargrett Library (University
        of Georgia, Athens)</a></li>
      <li><a href="https://www.asurams.edu/academic-affairs/library-home/">James
        Pendergrast Memorial Library (Albany State University)</a></li>
      <li><a href="http://archives.kennesaw.edu/">Kennesaw State University
        Department of Archives, Rare Books and Records Management</a></li>
      <li>
        <a href="http://www.lagrange.edu/library/index.html">LaGrange College</a>
      </li>
      <li>
        <a href="http://library.armstrong.edu/speccoll.html">Lane Library. Special
          Collections (Armstrong State University)</a></li>
      <li><a href="https://www.leecountylibrary.org/">Lee County Library System
        (Ga.)</a></li>
      <li><a href="http://www.liveoakpl.org/">Live Oak Public Libraries</a></li>
      <li><a href="https://www.leecountylibrary.org/">Long County Library (Three
        Rivers Regional Library, Ludowici)</a></li>
      <li>
        <a href="http://internet.savannah.chatham.k12.ga.us/schools/massie/default.aspx">Massie
          Heritage Interpretation Center (Savannah)</a></li>
      <li><a href="https://www.agnesscott.edu/library/index.html">McCain Library
        (Agnes Scott College, Decatur)</a></li>
      <li><a href="https://libraries.mercer.edu/">Mercer University. Libraries</a>
      </li>
      <li><a href="http://mocaga.org/">Museum of Contemporary Art of Georgia</a>
      </li>
      <li><a href="https://www.archives.gov/">National Archives and Records
        Administration</a></li>
      <li><a href="https://www.archives.gov/atlanta">National Archives at
        Atlanta</a></li>
      <li><a href="http://library.oglethorpe.edu/archives/">Oglethorpe University
        Archives (Atlanta)</a></li>
      <li><a href="http://pitts.emory.edu/">Pitts Theology Library (Atlanta)</a>
      </li>
      <li><a href="https://guides.augusta.edu/specialcollections">Reese Library.
        Special Collections (Augusta University)</a></li>
      <li><a href="http://www.augusta.edu/library/greenblatt/archives/index.php">Robert
        B. Greenblatt, M.D. Library (Augusta University)</a></li>
      <li><a href="https://www.auctr.edu/">Robert W. Woodruff Library (Atlanta
        University Center)</a></li>
      <li>
        <a href="http://library.scad.edu/">Savannah College of Art and Design</a>
      </li>
      <li><a href="https://rose.library.emory.edu/">Stuart A. Rose Manuscript,
        Archives, and Rare Book Library</a></li>
      <li><a href="https://www.thomasvillehistory.org/">Thomas County Historical
        Society (Thomasville)</a></li>
      <li><a href="https://www.trouparchives.org/">Troup County Archives</a></li>
      <li><a href="http://www.uncleremus.org/">Uncle Remus Regional Library System
        (Madison)</a></li>
      <li>
        <a href="https://ung.edu/libraries/campus-libraries/special-collections-archives.php">University
          of North Georgia (Dahlonega) Special Collections and Archives</a></li>
      <li>
        <a href="https://ung.edu/libraries/campus-libraries/special-collections-archives.php">University
          of North Georgia (Gainesville Campus) Special Collections and
          Archives</a></li>
      <li>
        <a href="https://www.valdosta.edu/academics/library/depts/archives-and-special-collections/">Valdosta
          State University's Odum Library's Archives and Special Collections</a>
      </li>
      <li><a href="http://www.worthlib.org/">Worth County Library System
        (Sylvester)</a></li>
      <li>
        <a href="http://library.georgiasouthern.edu/special-collections/">Zach S.
          Henderson Library Special Collections (Georgia Southern University,
          Statesboro)</a></li>
    </ul>
  </div>
</section>

