<section id="about">
  <div class="container">
    <h2>Collection Development Policy</h2>
    <h3>Digitized Collections</h3>
    <p>The Digital Library of Georgia, working together with Georgia's libraries, archives, museums, and other institutions of cultural heritage, provides access to the cultural and historical resources of the state of Georgia through ongoing development, maintenance, and preservation of online digital collections and resources. Original formats included may be text-based, including manuscripts, letters, diaries, and published works such as books and pamphlets, photographs, maps, art, artifacts, audio and video, graphic materials including architectural plans and drawings, and microfilm.</p>
    <p>The Audience of the Digital Library of Georgia consists of five segments:</p>
    <ul>
      <li>Casual User - <span class="italicized">Similar to a museum visitor viewing an exhibit, or the library patron browsing the stacks, seeking general information, or recreational reading or viewing materials. Casual users are usually interested in browsing for information.</span></li>
      <li>Student/K-12/Lifelong Learner - <span class="italicized">This group is usually seeking information for a specific purpose to support their learning goals, advance their career, or for general enlightenment. This group includes undergraduate and graduate college and university students and students in grades K-12, as well as teachers and instructors who may be using digitized resources in the classroom.</span></li>
      <li>Information Seeker/Hobbyist - <span class="italicized">The hobbyist or information seeker desires more in-depth information on a particular topic. This group includes genealogists, amateur historians, and others who desire information on a narrowly defined topic or set of topics. This class of users is interested in searching for specific information.</span></li>
      <li>Scholar/Researcher - <span class="italicized">The scholar or researcher desires in-depth information to support scholarship and research in support of scholarly publication.</span></li>
      <li>Government/Business Community - <span class="italicized">The government or business community is interested in obtaining information to support government activities or business initiatives.</span></li>
    </ul>
    <p>Collections, materials, or items may be nominated for digitization by any interested party using the <%= link_to 'Digital Library of Georgia Digitization Nomination Form', participate_nominate_path %>.</p>
    <p>Collections nominated for digitization and/or inclusion in the Digital Library of Georgia will be judged based on the following criteria.</p>
    <ul>
      <li><strong>Mission.</strong> Proposed materials or collections must conform to the mission of the Digital Library of Georgia and be related to the culture and history of the state of Georgia.</li>
      <li><strong>Restrictions.</strong> Materials that are restricted by the donor or other owner will not be digitized unless permission can be obtained.</li>
      <li><strong>Copyright.</strong> Materials that are clearly in the public domain will be given priority for digitization. Where public domain status is questionable, a decision will be made on a case by case basis. When materials are under copyright restrictions, they will not be digitized unless permission is obtained or a compelling orphan works case may be made.</li>
      <li><strong>Documentation/Description.</strong> Materials or collections that are completely or partially described, captioned, labeled, processed, or cataloged will be given priority for digitization. Other instances will be handled on a case by case basis depending on factors such as the type and depth of description required, need for research, etc.</li>
      <li><strong>Accessibility.</strong> Materials that are hard to access due to preservation concerns or are only available to a limited audience due to security restrictions will be given priority for digitization.</li>
      <li><strong>Use.</strong> Materials that are heavily used by researchers, other patrons, or staff will be given greater priority for digitization.</li>
      <li><strong>Diversity.</strong> Materials that represent the cultural, political, social, geographic, and/or economic diversity of the state of Georgia will be given priority.</li>
      <li><strong>Value.</strong> Materials that have high research, artifactual, or evidential value and/or are of particular interest to a key audience will have high priority for digitization.</li>
      <li><strong>Potential for Added Value.</strong> Materials for which access will be substantially improved by digitization and which have a high potential for added value in the digital environment will be given priority. Examples of added value that the materials may lend themselves to include:
        <ul>
          <li>Creation and/or addition of supplemental resources to allow users 	to better understand, navigate, and use the collection</li>
          <li>Linkages between materials</li>
          <li>Virtual collections of materials based around a creator, topic, subject, or similar theme</li>
          <li>New metadata, description, and finding aids in electronic form</li>
          <li>The ability to search through the creation of electronic text</li>
          <li>New ways to use or analyze the originals</li>
        </ul>
      </li>
      <li><strong>Duplication of Effort.</strong> Materials that are publicly available in digital form elsewhere at a level of quality that meets the needs of the audience of the Digital Library of Georgia will not be digitized. Note that the DLG Georgia Portal may link to items related to the mission of the Digital Library of Georgia.</li>
      <li><strong>Cooperative Potential.</strong> If the materials have the potential to be related to others held by different repositories or organizations, including materials already digitized or being considered for digitization, the priority for digitization is higher if it is likely that a cooperative or multi-collection digitization initiative may result.</li>
      <li><strong>Availability of Local or Additional Resources.</strong> Following on cooperative potential, if a repository or other organization can provide support in the form of staff time, equipment, or funding - especially at a local basis - to digitize materials to the standards required by the Digital Library of Georgia those collections may be given greater priority to take advantage of these opportunities.</li>
      <li><strong>Technology.</strong> Materials for which appropriate technology, processes, and best practices already exist for digitization will generally have priority. Projects that explore or require implementation of new technologies will be considered depending on the availability of resources and funding.</li>
    </ul>
    <h3>DLG Georgia Portal</h3>
    <p>The DLG Georgia Portal links historical and cultural collections digitized by the DLG and held locally in GALILEO with digital collections, materials, sites, items or similar resources held by cultural and/or other non-profit organizations throughout the state and elsewhere by means of metadata aggregation.</p>
    <p>The DLG Portal Service will record metadata about and link to sites meeting the following criteria:</p>
    <ul>
      <li>Provides digitized resources for collections representing Georgia's history and culture</li>
      <li>Makes the resource available at no cost</li>
      <li>Has a plan for ongoing sustainability and maintenance</li>
      <li>Respects copyright by ensuring that materials are in the public domain or cleared for public distribution</li>
      <li>Priority will be given to sites containing cultural materials digitized in accordance with standard best practices for digital imaging recommended by the Digital Library of Georgia</li>
    </ul>
    <h4>Ownership</h4>
    <p>The Digital Library of Georgia does not claim ownership of digital objects linked to from the DLG Georgia Portal. Ownership remains with the originating site. Note that collections digitized and mounted by the Digital Library of Georgia and GALILEO are linked to from the DLG Georgia Portal in the same way as other participating sites. All metadata created by the Digital Library of Georgia and included in the portal is licensed under a Creative Commons CC0 license, and users may reuse and share freely.</p>
    <h4>Accuracy</h4>
    <p>Responsibility for accuracy of data, facts, and information presented rests with the institution providing the digital resource. The Digital Library of Georgia does not warrant any information on the sites linked to by the portal. The Digital Library of Georgia recommends that all sites have a means of collection information regarding the content accuracy and a policy for site review and revision.</p>
    <h4>Accessibility</h4>
    <p>The Georgia portal strives to comply with accessibility standards developed as part of the Web Access Initiative of the World Wide Web Consortium available at http://www.w3.org/WAI/. However, the Digital Library of Georgia does not guarantee that sites linked to by the portal will comply with these accessibility standards.</p>
    <h4>Removal Policy</h4>
    <p>A site may be removed from the Georgia Portal at the discretion of the Digital Library of Georgia for one or more of the following:</p>
    <ul>
      <li>Site is not consistently available and reliable</li>
      <li>Inaccurate data, facts, or information</li>
      <li>Proven violation of copyright</li>
      <li>Site or content is no longer available for free to the public</li>
    </ul>
    <p>July, 2001<br />Revised September 2004<br />Revised February 2018</p>
  </div>
</section>

