.marker-cluster span {
  font-weight: bolder;
  color: white;
}

.marker-cluster-small {
  background-color: rgba(190,143,110, 0.6);
}

.marker-cluster-small div {
  background-color: rgba(181,128,90, 0.6);
}

.marker-cluster-medium {
  background-color: rgba(172,113,71, 0.6);
}

.marker-cluster-medium div {
  background-color: rgba(164,98,52, 0.6);
}

.marker-cluster-large {
  background-color: rgba(155,83,33, 0.6);
}

.marker-cluster-large div {
  background-color: rgba(147,69,14, 0.6);
}

/* IE 6-8 fallback colors */
.leaflet-oldie .marker-cluster-small {
  background-color: #BE8F6E;
}

.leaflet-oldie .marker-cluster-small div {
  background-color: #B5805A;
}

.leaflet-oldie .marker-cluster-medium {
  background-color: #AC7147;
}

.leaflet-oldie .marker-cluster-medium div {
  background-color: #A46234;
}

.leaflet-oldie .marker-cluster-large {
  background-color: #9B5321;
}

.leaflet-oldie .marker-cluster-large div {
  background-color: #93450E;
}
