<div class="container">
  <h2>Services For Partners</h2>
  <p>
    DLG provides more than just access to digitized content from Georgia Libraries, Archives and Museums. As part of our mission to support digitization efforts in the state, DLG provides its partners a number of services for free or cost recovery fees. We also provide a <a href="https://goo.gl/Ua4S4n">quarterly newsletter</a> and <a href="http://bit.ly/DLGnews ">listserv</a> to keep our partners apprised of new initiatives and offerings.
  </p>
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <h3>Free Services</h3>
        </div>
        <div class="col-md-12">
          <ul>
            <li><a href="https://sites.google.com/view/DLG-Docs">Best practice guides and toolkits</a></li>
            <li>Consulting</li>
            <li>Grant proposal development assistance</li>
            <li>Hosting of access or master files</li>
            <li>Metadata funneling to DPLA</li>
            <li>Metadata hosting</li>
            <li>Metadata harvesting/ingest</li>
            <li><a href="https://goo.gl/Ua4S4n">Quarterly newsletter</a></li>
            <li><a href="https://sites.google.com/view/DLG-Docs/dlg-documentation/dlg-subgranting-program?authuser=0">Subgranting</a></li>
            <li>Training (on-site and virtual)</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <h3><a href="https://docs.google.com/document/d/1OZjEg_IzSRjRq6Js7-UmaEPxHn58ZbfGMvCJ0BS4TMA">Cost Recovery</a></h3>
        </div>
        <div class="col-md-12">
          <ul>
            <li>Conversion</li>
            <li>Digital preservation</li>
            <li>Metadata creation</li>
            <li>Hosting of finding aid databases</li>
            <li>Hosting of archival management systems</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <p>
    <img src="<%= asset_path 'services-chart.png' %>" alt="DLG Services flowchart" class="pull-right">
    For each project, DLG works with its partners to determine how to best divide and conquer the various tasks in a successful digital project. Together, we take a look at your infrastructure: expertise, staffing levels, and technology to determine the right fit. For some of DLG's bigger partners, we simply aggregate their metadata to include in one of our portals and eventually as part of DPLA. For others, such as public libraries, DLG carries much more of the workload. We even work with vendors for conversion.
  </p>
  <p>
    Don’t see a service that you need or want? Take a few minutes to fill out our <a href="https://docs.google.com/forms/d/e/1FAIpQLSdB9PztFHaDx6_Rmf3nALP7NH-CvLes4VmeQcYyQfz4rxXgCQ/viewform?usp=sf_link">partner services survey</a>.
  </p>
</div>
